<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Silk" value="C:/projects/silkwrappernetest/PS/Wrapperr/SilkWrapperNET/SilkWrapperNET/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>